.App {
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  color: white;
}

.header {
  height: 10vh;
  width: 100vw;
}

.navbar {
  width: 70vw;
  padding-left: 200px;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logoImage {
  height: 32px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover a {
  color: #fed136;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.tellMeMore {
  background-color: #fed136;
  color: white;
  height: 75px;
  width: 225px;
  font-style: Bold;
  font-size: 1rem;
}

.text1 {
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text2 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  text-align: center;
}

.menu-btn {
  display: none;
}

/* .hamburger {
  display: none;
} */

/* .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #fed136;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.menu-btn_burger {
  width: 10px;
  height: 2px;
  background: white;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: white;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}
.menu-btn_burger::before {
  transform: translateY(-16px);
}
.menu-btn_burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
} */

@media screen and (max-width: 1000px) {
  .App {
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header {
    background-color: #212529;
    width: 100vw;
    height: 10vh;
  }

  .navbar {
    width: 100vw;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: stretch;
    align-items: center;
  }

  .nav-links {
    height: 250px;
    width: 95vw;
    background-color: #212529;
    position: fixed;
    left: 0;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(0, -400px);
    transition: 0.5s;
    transition-timing-function: ease-in;
  }

  .show {
    transform: translate(0, 0);
  }

  .menu-btn {
    position: fixed;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: #fed136;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
  }

  .menu-btn_burger {
    width: 10px;
    height: 2px;
    background: white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
